/* ヘッダー部分 */
header{
    height: 80px;
    background-color: white;
    padding: 10px 20px;
    display: flex;
}

.header-left img{
    width: 50px;
    height: auto;
    padding: 10px 0;
}

.header-right{
    font-weight: bold;
    font-size: 30px;
    padding: 10px 20px;
}

/* kv部分 */
.kv{
    background-image: url(./img/top.jpeg);
    background-position: center;
    background-size: cover;
    height: 60vh;
}

.title-wrap{
    height: 100px;
}

.main-title{
    font-size: 70px;
    font-weight: bold;
    color: chocolate;
    padding: 200px 50px 0;
}

.subtitle{
    font-size: 30px;
    font-weight: bold;
    color: chocolate;
    padding-left: 50px;
}

/* セクション */
.contents{
    max-width: 1200px;
    margin: 100px auto 0;
    background-color: floralwhite;
    padding-bottom: 100px;
}

.subjuct{
    font-size: 40px;
    font-weight: bold;
    color: rgb(239, 105, 91);
    text-align: center;
    /* padding-top: 50px; */
}

.container img{
    width: auto;
    height: 500px;
    border-radius: 50%
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li1{
    font-size: 50px;
    font-weight: bold;
    margin-right: auto; 
} 

li{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.contact{
    /* height: 600px; */
    background-color: floralwhite;
    margin-top: 50px;
    padding-top: 30px;
}

/* .contact{
    font-size: 15px;
    display: flex;
    justify-content: end;
}  */

.oya{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: rgb(239, 105, 91);
    padding: 10px 20px;
    text-align: center;
    margin-top: 100px;
}

footer span{
    font-weight: bold;
}

@media screen and (max-width:767px){ 
    header{
        position: fixed;
        width: 100%;
    }

    .main-title{
        font-size: 50px;
    }

    .subtitle{
        font-size: 20px;
    }

    .container{
        display: block;
        text-align: center;
    }

    .oya{
        flex-direction: column;
        align-items: center;
    }
}
